# --------------------------------------------------------------------------
# iac-tfm bootstrap — terraform.tfvars.example
# Copy to terraform.tfvars and customize.
# --------------------------------------------------------------------------

# AWS
aws_region   = "ap-southeast-2"
project_name = "iac-tfm"
